<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>raaay's </title>
  <link rel="shortcut icon" type="image/png" href="/statics/img/favicon.png"/>
  <base href="/">
  <%- include('includes/commons') %>
  <%- include('includes/custom-styles') %>
</head>
<body>

  <%- include('components/side-nav') %>

  <%# container-fluid p-0 %>  
  <div class="container">

    <%# post feed list %>
    <div class="post-list">
      <% for (const post of posts) { %>
        <%- include('components/post-feed', { post }) %>
      <% } %>
    </div>

    <%# pagination %>

  </div>
  
</body>
</html>