<!DOCTYPE html>
<html>
<head>
  <%- include('includes/head-tags') %>
  <%- include('includes/commons') %>
  <%- include('includes/custom-styles') %>
  <title>raaay's </title>
  <base href="/">
</head>
<body>

  <%- include('components/side-nav') %>

  <div class="container-fluid">
    <%# This page currently is not used %>
  </div>
  
</body>
</html>