<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>raaay's </title>
  <base href="/">
  <%- include('includes/commons') %>
  <%- include('includes/custom-styles') %>
</head>
<body>

  <%- include('components/side-nav') %>

  <%# container-fluid p-0 %>  
  <div class="container">

  </div>
  
</body>
</html>