.Post {
  height: 100%;
}

.post-settings {
  float: left;
  height: 100%;
  width: 20rem;
  padding: 0rem;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  border: 1px solid #e9ecef;
}

.post-editor {
  overflow: hidden;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: space-between; /* ?? */
  /* border: 1px solid #e9ecef; */
}

textarea[name=content] {
  resize: none;
}

.post-writing {
  width: 50%;
  height: 100%;
  padding: 1rem;
  background-color: rgb(255, 255, 244);    
  overflow-y: scroll;
  border: 1px solid #e9ecef;
  font-family: "Monaco";
  font-size: 0.9rem;  
}

.post-preview {
  width: 50%;
  height: 100%;
  padding: 1rem;
  background-color: rgb(252, 252, 252);
  overflow-y: scroll;
  border: 1px solid #e9ecef;
}