body {
  background-color: rgba(65, 72, 80, 0.93);
  background-image: url('/statics/img/sunset.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid {
  height: 100%;
}

a, a:link, a:visited, a:hover, a:active {
  color: inherit;
}

@media (min-width: 768px) {
  .container-fluid {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
