.pagi .card {
  margin: 0 !important;
  padding: 0 !important;
}

.pagi .card-body {
  margin: 0 !important;
  padding: 0 !important;
}

.pagi ul {
  margin: 0 !important;
  padding: 0 !important;
}

.pagi li {
  margin: 0 !important;
  padding: 0 !important;
}