.pagi {
  margin: 0;
  padding: 0 !important;
}

.pagi .card-body {
  background-color: rgba(0,0,0,.03);
  
}

.pagi ul {
  margin: 0 !important;
  padding: 0 !important;
}

.pagi li {
  margin: 0 !important;
  padding: 0 !important;
}

.group-pagination {
  margin: 0;
}

.btn-pagination {
  margin: 0;
  border-radius: 0 !important;
}

.btn-pagination:hover {
  background-color: rgba(0,0,0,.1);
}

/* TODO: only works for Firefox */
.btn-pagination.disabled {
  color: rgba(160,160,160);
}
