<div class="card post">

  <% if (post.heroImage) { %>
    <img class="card-img-top" src="<%= post.heroImage %>" alt=""></img>
  <% } %>

  <%# <div class="card-header"> %>
  <%# </div> %>

  <div class="card-body">
    <div class="post-title">
      <h2><%= post.title %></h2>
    </div>

    <div class="post-info">
    </div>

    <div class="post-content">
      <div class="markdown-body">
        <%- post.mdContent %>
      </div>
    </div>

  </div>

  <div class="card-footer">
  </div>

</div>